.below-site-header-outlet.welcome-link-banner-connector {
  .welcome-link-banner-wrapper {
    min-height: 160px;
    background-color: #{$banner-background-color};
    background-image: url(#{$banner-background-image});
    background-size: #{$banner-background-size};
    background-repeat: #{$banner-background-repeat};
  }

  .welcome-link-banner {
    display: flex;
  }

  .welcome-wrapper {
    flex: 0 1 auto;
    flex-direction: column;
    margin-top: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    // box-shadow: shadow("card");
    margin: 0 auto;
    background: #{$banner-box-background-color};

    .featured-banner-link {
      display: flex;
      justify-content: space-between;
      padding: 1em;

      svg {
        transition: color 0.25s;
      }

      > div {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;

        svg {
          display: block;
          font-size:3.8em;
          // margin: 0 auto ;
          margin-right: 12px;
        }

        a,button {
          padding: 0;
          transition: all 0.25s;
          width: 100%;
          margin:0 1.5em;
          background-color: var(--secondary);
          color: var(--primary);
          display: flex;
          justify-content: center;
          border-radius: 12px;
          max-width: 240px;
          .d-icon {
            color: #{$banner-icon-color};
          }

          &:hover {
            -webkit-box-shadow: 0 14px 26px -12px rgba(73,96,146,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(73,96,146,.2);
            color: #{$banner-text-color};
            
            // text-decoration: underline;
            .d-icon {
              color: #{$banner-link-color};
            }
          }
        }

        h3 {
          font-weight: bold;
          line-height: 1.2;
          margin: 0;
          display: flex;
          align-items: center;
          padding: 16px;
          border: var(--primary) 1px solid;
          border-radius: 12px;
          width: 184px;
          span{
            min-width: 0;
          }
        }
      }
    }

    h2 {
      font-size: 1.75em;
      line-height: 1.2;
      margin-bottom: 0;
      font-weight: bold;
    }

    .welcome-content {
      max-width: 100%;
      text-align: center;
      padding-top: 2.5em;

      p {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 930px) {
      
      flex-wrap: wrap;

      p {
        max-width: 500px;
      }

      .welcome-content {
        max-width: unset;
        text-align: center;
        padding-bottom: 1em;
      }

      .featured-banner-link {
        padding: 0 0 2em;
        width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 2em;
    }

    @media screen and (max-width: 550px) {
      flex-direction: row;
      max-width: 80vw;
      padding: 0;

      .featured-banner-link {
        
        flex-direction: column;
        padding: 0.5em 0.5em 1.25em;

        > div {
          margin: 6px auto;
        }
      }
    }
  }
}

