
{{#unless hideStaff}}
  {{#unless (and (theme-setting 'hide_on_mobile') site.mobileView)}}
    {{#if (and showTrust showHere)}}
      <div class="welcome-link-banner-wrapper">
        <div class="wrap welcome-link-banner">
          <div class="welcome-wrapper">
            <div class="welcome-content">
              <h2>{{html-safe (i18n "meta_banner.welcome")}}</h2>
            </div>
            <div class="featured-banner-link">
              <span>{{html-safe (i18n "meta_banner.subtitle")}}</span>
              {{#each bannerLinks as |bl|}}
                <div>
                  {{#if currentUser}}
                  <a href {{ action "openModal" bl.url}}>
                    <h3>
                      {{d-icon bl.icon}}
                      <span>
                      
                      {{html-safe (i18n bl.text)}}
                      
                      </span>
                    </h3>
                  </a>
                  {{else}}
                    <DButton @action={{route-action "showLogin"}}>
                    <h3>
                      {{d-icon bl.icon}}
                      <span>
                    
                      {{html-safe (i18n bl.text)}}
                      
                      </span>
                    </h3>
                  </DButton>
                   {{/if}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/unless}}
{{/unless}}


